body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Arial';
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  #wrapper { 
    grid-template-columns: 100px auto;
  }
}
#sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  background: red;
}
#sidebar nav {
  padding: 20px;
  background: green;
}
#content {
  background: yellow;
  padding: 30px;
}

